<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SanitySuite" parallel="tests" thread-count="4">
    <test name="ChromeSuite">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="main-page"/>
                <include name="e2e"/>
                <include name="hook"/>
            </run>
        </groups>
        <packages>
            <package name="UiTests"/>
        </packages>
    </test>

    <test name="FirefoxSuite">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <include name="main-page"/>
                <include name="e2e"/>
                <include name="hook"/>
            </run>
        </groups>
        <packages>
            <package name="UiTests"/>
        </packages>
    </test>

    <test name="EdgeSuite">
        <parameter name="browser" value="edge"/>
        <groups>
            <run>
                <include name="main-page"/>
                <include name="e2e"/>
                <include name="hook"/>
            </run>
        </groups>
        <packages>
            <package name="UiTests"/>
        </packages>
    </test>

<!--    <test name="OperaSuite">-->
<!--        <parameter name="browser" value="opera"/>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="main-page"/>-->
<!--                <include name="e2e"/>-->
<!--                <include name="hook"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <packages>-->
<!--            <package name="UiTests"/>-->
<!--        </packages>-->
<!--    </test>-->
</suite>